<div class="auditoriaContainer">
    <div class="form-group cuenta">
        <label for="cuenta">Cuenta Publica</label>
        <select name="ctaPublica" id="ctaPublica" required="required" class="form-control">
            <option value=""> Seleccione una Opción </option>
            <option value="16">2016</option>
        </select>
    </div>
    <div class="form-group cuenta">
        <label for="cuenta">Auditoria</label>
        <div class="ascm">
            <span id="titulo">ASCM/</span>
            <input type="number" class="form-control" id="auditoria" placeholder="Auditoria" required  name="auditoria" >
            <span id="year">--</span>
        </div>
    </div>
    <div class="datosAuditoria" id="datosAuditoria" ></div>
    <div class="datosTurnado" id="datosTurnado" ></div>
</div>