<form method="POST" class="form-inline" id="documentosJur" enctype="multipart/form-data">
    
    
    <div class="form-group numDocumento">
        <label for="numDocumento" class="control-label">Numero de Documento</label>
        <input type="text" id="numDocumento" name="numDocumento" required class="form-control file" readonly>
    </div>

    <div class="form-group anexoDoc">
        <label for="anexoDoc" class="control-label">Documento Asignado</label>
        <a href="#!" id="anexoDoc" target="_blank"></a>
    </div>
    
    <div class="uploadContainer"></div>
    <div class="uploadInput">
        <div class="form-group anexoDoc">
        <label for="anexoDoc">Documento</label>
        <input type="file" class="form-control"   name="anexoDoc" id="imagen" required >
        </div>
    

    
    </div>
    </form>