@import './cssLibs/font-awesome.css';
@import './cssLibs/bootstrap.min.css';
@import './cssLibs/jquery-ui.min.css';
@import './cssLibs/jquery-ui.structure.min.css';
@import './cssLibs/jquery-ui.theme.min.css';
@import './cssLibs/style-dashboard.css';
@import './../node_modules/jquery-confirm/css/jquery-confirm.css';


div.pull-right a{
    color:#fff !important;
}

div.jconfirm-box-container{
    margin:0 !important;
    width: 100%;
}


td#idCaracter,
td#idAccion, 
td#idVolante,
td#idObservacionDoctoJuridico,
td#idSubTipoDocumento,
td#cveAuditoria,
td#usrAlta,
td#fAlta,
td#usrModificacion,
td#fModificacion{
    display: none;
}
th#idCaracter,th#idAccion, 
th#idVolante,
th#idObservacionDoctoJuridico,
th#idSubTipoDocumento,
th#cveAuditoria,
th#usrAlta,
th#fAlta,
th#usrModificacion,
th#fModificacion
{
    display: none;
}

th{
    background-color: #65140F;
    color:white;
}

table tr{
    cursor: pointer
}

form{
    padding: 5px
}

form div label{
    display: block;
}

div.send{
    display: block !important;
    margin-top:20px;
}

div.texto{
    display: block !important;
    margin-top:20px;
}

form#Volantes div{
    margin-right: 10px;
}

form div.addAuditoriaContainer,div.ascm{
    display: flex;
    align-items: center;
}

form div.addAuditoriaContainer p{
    padding-right:10px;
}

div.ascm input#auditoria{
    width: 35% !important;
    margin:0 5px;
}

div.ascm span{
    background-color: #65140F;
    color:white;
    padding: 4px;
    border-radius: 5px;
    margin-left: 5px;
}

div.auditoriaContainer{
    display: flex;
    flex-wrap: wrap
}

div.datosAuditoria{
    width: 100%;
    margin-bottom: 20px
}



td.tdColor{
    background-color: #65140F;
    color:white;
    text-align: center;
}

table.datosAuditoria{
    width: 100%;
    border: 1px solid #afafaf;
}

table.datosAuditoria td{
    border: 1px solid #afafaf;
    padding:5px;
}


div#panelOrdenamiento{
    display: none;
    padding:5px;

}


div#panelOrdenamiento select{
    width: 200px;
    margin-right: 20px
}

div#panelOrdenamiento button{
    margin-right: 10px;
}


table#ObservacionesIrac{
    width: 90% !important;
    margin:auto;
}

div.IracObservacionesContent div.buttonsIrac{
    margin-top:40px
}